<div ng-if="blogs.length == 0">
<p>No blogs at this time.</p>
</div>
<div ng-if="blogs.length > 0">
<div pagination></div>
	<div ng-repeat='blog in blogs' class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<a href="{{blog.link}}" target="_blank">
						<h4 ng-bind-html="blog.title.rendered"></h4>
					</a>
				</div>
				<div class="panel-body">
					<p>{{blog.date| date:"dd/MM/yyyy 'at' HH:mm"}}</p>
					<a href="{{blog.link}}/#disqus_thread" target="_blank" class="btn btn-primary">Comments</a>
				</div>
			</div>
	</div>
<div pagination></div>
</div>